<div class="instructions">
    <p> Guidelines for your task (<b>please read carefully!</b>)</p><br><br>
    <p>• Picture yourself setting up an account for a website that you intend to use <b>frequently</b>.</p>
    <p>• Generate a password for this account that has a <b style="color: gold">medium</b> level of strength.</p>
    <p>• Using a mixture of numbers, letters, and other characters will increase password strength.</p>
    <p>• Please come up with an original password (<b>do not</b>use one of your REAL passwords!).</p>
    <p>• Please complete all the sections. Navigate via 'Next step' and 'Previous step' buttons.</p>
</div>

<form id="finalForm">
    <div>
        <section class="active">
            <p>Please enter an <b>ALIAS</b> <br>Make sure to <b>remember it</b>, since you will need it in a <b>follow up survey</b></p>
            <input id="alias" type="text" minlength="3" maxlength="12" required autocomplete="off">
        </section>

        <section>
            <p>Please create password:</p>
            <input type="text" id="pwd" minLength="6" maxlength="20" required autocomplete="off" data-strength="medium">
            <p>Strength: <b id="pwdStrength"></b></p>
            <div id="pwdMeter">
                <div></div>
            </div>
        </section>

        <section>
            <p>Confirm password:</p>
            <input type="text" id="pwdConfirm" name="pwdConfirm" required autocomplete="off">
        </section>

    </div>
    
    <div style="margin-top: 25px; display: flex; gap: 25px; justify-content: center;">
        <button class="hidden" type="button" id="previous">Previous step</button>
        <button type="button" id="next">Next step</button>
    </div>
</form>